@import "tailwindcss";

@theme {
  --color-primary: #050816;
  --color-secondary: #0B1120;
  --color-blue-neon: #38BDF8;
  --color-blue-bright: #0EA5E9;
  --color-blue-electric: #60A5FA;
  --color-text-secondary: #94A3B8;
  --color-card: #0A0F1C05;
  --radius-card: 10px;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    color: #ffffff;
    background: #030712;
    overflow-x: hidden;
  }

  li {
    list-style: none;
  }
}

@layer utilities {

  .glassmorphism {
    @apply border backdrop-blur-sm;
  }

  .gradiant_text {
    @apply bg-linear-to-r from-blue-neon via-blue-electric to-blue-bright bg-clip-text text-transparent;
  }

  .content_section {
    @apply max-w-7xl mx-auto pt-24 mb-20
  }
}