@import "tailwindcss";

@theme {
  --color-primary: #050816;
  --color-secondary: #0b1120;
  --color-blue-neon: #38bdf8;
  --color-blue-bright: #0ea5e9;
  --color-blue-electric: #60a5fa;
  --color-text-secondary: #94a3b8;
  --color-card: #0a0f1c05;
  --radius-card: 10px;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  html {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  body {
    color: #ffffff;
    background: #030712;
  }

  li {
    list-style: none;
  }

  input,
  textarea {
    width: 100%;
  }
}

@layer utilities {
  .gradiant_text {
    @apply bg-linear-to-r from-blue-neon via-blue-electric to-blue-bright bg-clip-text text-transparent;
  }

  .subtitle {
    @apply max-w-xl mx-auto text-pretty md:text-balance mt-4 text-gray-500;
  }

  .content_section {
    @apply w-11/12 lg:w-10/12 max-w-7xl mx-auto pt-24 pb-20;
  }

  .inputContact {
    @apply px-5 py-4 border border-blue-bright/40 placeholder:text-gray-400 outline-none rounded-card backdrop-blur-md transition-all duration-300 focus:border-blue-bright focus:shadow-[0_0_20px_rgba(0,170,255,0.25)] focus:bg-white/5 resize-none;
  }
}
